header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(211, 211, 211);
    
    .HeaderLeft{
      display: flex;
      align-items: center;
      
      margin-top: 20px;
      margin-bottom: 20px;
  
      h1{
        margin-left: 15px;
      }
    }
  
    .HeaderRight{
      display: flex;
      align-items: center;
        
      p{
        margin-top: 14px;
      }
      img{
        padding: 15px;
        margin-top: -4px;
        margin-right: 20px;
      }
      
    }
  }