.imgP{
    width: auto;
    height: 300px;
    margin-top: 30px;
}

.media{
    text-align: center;
}

.PostText{
    border-bottom: 1px solid rgb(211, 211, 211);
}

h1{
    margin-left: 30px;
}

h2{
    margin-left: 30px;
}

h4{
    margin-left: 30px;
}

.Datаа{
    margin-left: 30px;
    color: gray;
}

.cohead{
    margin-left: 30px;
    color: gray;
}

.PostInfo{
    height: 82vh;
    overflow: auto;
}