body {
  margin: 0;
  font-family: 'Poppins', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 253, 238);
  height: 100%; 
}

.Wrapper{
  background: white;
  box-shadow: 0px 1px 3px rgb(48, 48, 48);
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(211, 211, 211);
  
  .HeaderLeft{
    display: flex;
    align-items: center;
    
    margin-top: 20px;
    margin-bottom: 20px;

    h1{
      margin-left: 15px;
    }
  }

  .HeaderRight{
    display: flex;
    align-items: center;
      
    p{
      margin-top: 14px;
    }
    img{
      padding: 15px;
      margin-top: -4px;
    }
    
  }
}

.Content{
  h2{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .Post{
    border-radius: 20px;
    border: 1px solid rgb(211, 211, 211);
    margin: 70px;

    h5{
      margin: 10px;
    }

    .BottomPost{
      margin-top: -12px;
      display: flex;
      justify-content: space-between;
    }


    .BPLeft{
      display: flex;
      align-items: center;
      p{
        margin-left: -5px;
        margin-top: 12px;
      }
    }

    .BPRight{
      display: flex;
      align-items: center;
      p{
        margin-top: 12px;
        margin-left: 2px;
        margin-right: 8px;
      }
    }

    .ButtonLike
    {
      margin: 5px;
      border-color: white;
      border: none;
      background: none;
      cursor: pointer;

      opacity: 0.8;
      &:hover{
        opacity: 1;
      }
    }

    .ButtonComment
    {
      margin-top: 2px;
      background: white;
      border-color: white;
      border: none;
      background: none;
      cursor: pointer;

      opacity: 0.8;
      &:hover{
        opacity: 1;
      }
    }
  }
}
.DrawerShadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;

}

.Drawer{
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: white;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button{
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.75;
      &:hover{
        opacity: 1;
      }
  }

  .ButtonLogout{
    color: red;
  }
}