body {
  margin: 0;
  font-family: 'Poppins', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 253, 238);
}

.Wrapper{
  background: white;
  box-shadow: 0px 1px 3px rgb(48, 48, 48);
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(211, 211, 211);
  
  .HeaderLeft{
    display: flex;
    align-items: center;
    
    margin-top: 20px;
    margin-bottom: 20px;

    h1{
      margin-left: 15px;
    }
  }

  .HeaderRight{
    display: flex;
    align-items: center;
      
    p{
      margin-top: 14px;
    }
    img{
      padding: 15px;
      margin-top: -4px;
    }
  }
}

.Content{
  h2{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .Post{
    border-radius: 20px;
    border: 1px solid rgb(211, 211, 211);
    margin: 50px;

    p{
      margin: 10px;
    }

    .BottomPost{
      margin-top: -12px;
      display: flex;
      justify-content: space-between;
    }


    .BPLeft{
      display: flex;
      align-items: center;
      p{
        margin-left: -5px;
        margin-bottom: 12px;
      }
    }

    .BPRight{
      display: flex;
      align-items: center;
      p{
        margin-bottom: 15px;
        margin-left: 2px;
      }
    }

    .ButtonLike
    {
      margin: 5px;
      border-color: white;
      border: none;
      background: none;
      cursor: pointer;
    }

    .ButtonComment
    {
      background: white;
      border-color: white;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}