.Wrapper{
  background: white;
  box-shadow: 0px 1px 3px rgb(48, 48, 48);
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}


.Content{
  h2{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 90px;
    text-align: center;
  }
  height: 82vh; 
  overflow: auto;
}

.PostsGrid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.forma{
  text-align: center;
}

.textF{
  margin-bottom: 30px;
  width: 30%;
}

.button{
  width: 30%;
  margin-bottom: 30px;
  background-color: black;
}

.zag{
  margin-top: 60px;
  margin-bottom: 30px;
}