body {
  margin: 0;
  font-family: 'Poppins', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 253, 238);
  
  overflow: hidden;
}

.Wrapper{
  background: white;
  box-shadow: 0px 1px 3px rgb(48, 48, 48);
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}



.Content{
  h2{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    size: 160px;
  }
  height: 82vh; 
  overflow: auto;
}
